apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: [CLUSTER_CA_CERT]
      server: [CLUSTER_ENDPOINT]
    name: minikube
contexts:
  - context:
      cluster: minikube
      namespace: default
      user: workflow-provisioner-admin
    name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
  - name: workflow-provisioner-admin
    user:
      token: [SERVICE_ACCOUNT_TOKEN]
